body {
	background:#020d1f
	url('../images/4.jpg');
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
}

a img {
  border: none;
}

a {
  color: #1e375b;
  text-decoration: none;
}
a:hover {
  color: #859ca9;
  text-decoration: none;
}

table {
width:100%;
border: solid #858585 0px;
text-align:left;
	background:#10294b;
	    -moz-border-radius:1px 1px 1px 1px;
    -webkit-border-bottom-left-radius: 1px;
    -webkit-border-bottom-right-radius:1px;
	    -webkit-border-top-left-radius: 1px;
    -webkit-border-top-right-radius:1px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;    
	border-top-left-radius:10px;
    border-top-right-radius:10px;
  margin-top: 20px;
}
tr, td, p{
 font-size: 12px;
  color:#8aaccf;
	text-font: times new roman;
	text-decoration:none;
	}

.content a {
  color: #f1f2f3;
  text-decoration: none;
}
.content a:hover {
  color: #859ca9;
  text-decoration: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

h2 {
	  font-size: 30px;
	   text-transform: uppercase;
}

h3{
    text-align:center;
    font-size:24px;
	    color:#265ca4;
	background:#1b3960;
    text-shadow:1px 1px 1px #edf2f8;
    font-weight:bold;
    float:left;
    width:540px;
    padding:5px 0px 5px 10px;
    margin:10px 0px;
    border-bottom:0px solid #fff;
    border-top:0px solid #d9d9d9;
}
.top {
HEIGHT: 552px; 
	width: 960px;
	left: 100px;
	text-align: justify;
	padding-left: 0px;
	padding-top: 0px;
	padding-right:0px;
	padding-bottom: 0px;
	background:#020d1f
	url('../images/1.jpg');
}

.content {

	width: 740px;
	text-align: justify;
	padding-left: 170px;
	padding-top: 0px;
	padding-right:0px;
	padding-bottom: 0px;
}

.nav {border-top:0px #5255C6 dotted;
			         border-bottom: 0px #BE413F solid;
			         border-right: 0px #148746 solid;
			         border-left: 0px #157FAF dashed;
			         text-align: center;
			         padding: 1px;
                     font-size: 8px;
                     font-family: verdana;
                     text-transform: uppercase;
                     font-weight: bold;
                     color: #C55176;
					 background-color: #F9CFB6;
			         
                     }   
					 
#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.8em; }