<<<<<<< HEAD
<h1>Dodawanie</h1>


<%= render 'form' %>


  


  
=======
﻿<h1>Dodawanie</h1>

<%= render 'form' %>

>>>>>>> ef25687cb52f2e47778fc37f12bf07aab7e3eb80
<%= link_to 'Cofnij', films_path %>
