  <div style="z-index:1; left: 800px; top:248px; width:160px; position: absolute;">
<%= link_to image_tag("all.png"), films_path %> 
 </div>
<div style="z-index:1; left: 180px; top:556px; width:740px; position: absolute; ">
<h4>Dodawanie</h4>

<%= render 'form' %>
</div>
